/* Global */

body{
    background:#0f172a;
    color:#f8fafc;
    font-family:'Inter', sans-serif;
}

/* Navbar */

.navbar-custom{
    background:#111827;
    padding:18px;
}

.live-text{
    color:#22c55e;
    font-weight:600;
}

/* Main */

.main-heading{
    font-size:50px;
    font-weight:700;
    color:#ffffff;
}

.subtitle{
    color:#94a3b8;
    font-size:18px;
}

/* Cards */

.card{
    border:none;
    border-radius:20px;
    overflow:hidden;
}

.main-card{
    background:#111827;
    color:white;
}

/* Stats */

.stats-card{
    color:white;
    transition:0.3s;
}

.stats-card:hover{
    transform:translateY(-6px);
}

.stats-blue{
    background:linear-gradient(135deg,#2563eb,#1d4ed8);
}

.stats-red{
    background:linear-gradient(135deg,#dc2626,#991b1b);
}

.stats-orange{
    background:linear-gradient(135deg,#ea580c,#c2410c);
}

.stats-cyan{
    background:linear-gradient(135deg,#0891b2,#155e75);
}

/* Incident */

.incident-card{
    background:#111827;
    color:white;
    transition:0.3s;
}

.incident-card:hover{
    transform:scale(1.02);
    box-shadow:0px 0px 25px rgba(59,130,246,0.3);
}

/* Form */

.form-control{
    background:#1e293b;
    border:1px solid #334155;
    color:white;
    border-radius:12px;
    padding:14px;
}

.form-control:focus{
    background:#1e293b;
    color:white;
    border-color:#3b82f6;
    box-shadow:none;
}

.form-control::placeholder{
    color:#94a3b8;
}

/* Button */

.btn-primary{
    background:#2563eb;
    border:none;
    border-radius:12px;
    padding:12px 24px;
    font-weight:600;
}

.btn-primary:hover{
    background:#1d4ed8;
}

/* Logs */

pre{
    background:#020617;
    color:#00ff95;
    padding:15px;
    border-radius:12px;
    overflow-x:auto;
    border:1px solid #1e293b;
}

/* Titles */

.section-title{
    color:#f8fafc;
    font-weight:600;
}

/* Alert */

.live-alert{
    border:none;
    border-radius:15px;
    background:#7f1d1d;
    color:white;
    font-size:18px;
    animation:pulse 1.5s infinite;
}

/* Pulse */

@keyframes pulse{

    0%{
        opacity:1;
    }

    50%{
        opacity:0.6;
    }

    100%{
        opacity:1;
    }
}

/* Feed */

.feed-item{
    background:#1e293b;
    padding:14px;
    border-radius:12px;
    border-left:5px solid #ef4444;
}

.feed-divider{
    border-color:#334155;
}

/* Badge */

.badge{
    font-size:14px;
}

/* Chart */

canvas{
    max-height:300px;
}

/* Scrollbar */

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#0f172a;
}

::-webkit-scrollbar-thumb{
    background:#334155;
    border-radius:10px;
}

/* Responsive */

@media(max-width:768px){

    .main-heading{
        font-size:34px;
    }

}